@model MeterReaderCMS.Models.ViewModels.MeterReader.NotebookVM

@{
    ViewBag.Title = "הוספת פנקס";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 title-section">
        <h2 class="main-page-title">@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12"></div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        @using (Html.BeginForm("AddNotebook", "Notebooks", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 text-right">
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control form-input" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StreetName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 text-right">
                    @Html.EditorFor(model => model.StreetName, new { htmlAttributes = new { @class = "form-control form-input" } })
                    @Html.ValidationMessageFor(model => model.StreetName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 form-buttons-section text-right">
                    @Html.ActionLink("חזרה לרשימה", "Index", null, new { @class = "btn btn-secondary" })
                    <input type="submit" value="הוספת פנקס" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }
    </div>
</div>
